
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Index</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/app/styles.css" rel="stylesheet" />
</head>
<body>
    <header class="container-fluid">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div>
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">LearnDev</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#courses">Courses</a></li>
                        <li><a href="#articles">Articles</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header>
<section class="container-fluid content">
    <div class="row">
        <section class="col-sm-7 col-sm-push-3">
            <div class="main" style="background-image: url('@Url.Content("~/images/main-background.jpg")');">
                <a name="courses" class="link-offset"></a>
                <h2>My Courses</h2>
                <div class="record">
                    <div class="record-details">
                        <a href="#" class="record-title">Front-End Web Development Quick Start With HTML5, CSS, and JavaScript</a>
                        <div class="record-comment">
                            I haven't finished this one, but so far it seems interesting. It's nice having a primer on HTML5 and CSS3.
                        </div>
                    </div>
                    <div class="record-rating">4.5</div>

                </div>
                <div class="record">
                    <div class="record-details">
                        <a href="#" class="record-title">Front-End Web Development Quick Start With HTML5, CSS, and JavaScript</a>
                        <div class="record-comment">
                            I haven't finished this one, but so far it seems interesting. It's nice having a primer on HTML5 and CSS3.
                        </div>
                    </div>
                    <div class="record-rating">4.5</div>

                </div>
                <a name="articles" class="link-offset"></a>
                <h2>My Articles</h2>
                <div class="record">
                    <div class="record-details">
                        <a href="#" class="record-title">Front-End Web Development Quick Start With HTML5, CSS, and JavaScript</a>
                        <div class="record-comment">
                            I haven't finished this one, but so far it seems interesting. It's nice having a primer on HTML5 and CSS3.
                        </div>
                    </div>
                    <div class="record-rating">4.5</div>

                </div>
                <div class="record">
                    <div class="record-details">
                        <a href="#" class="record-title">Front-End Web Development Quick Start With HTML5, CSS, and JavaScript</a>
                        <div class="record-comment">
                            I haven't finished this one, but so far it seems interesting. It's nice having a primer on HTML5 and CSS3.
                        </div>
                    </div>
                    <div class="record-rating">4.5</div>

                </div>
            </div>
        </section>
        <aside class="col-sm-3 col-sm-pull-7">
            <div class="profile">
                <div class="profile-background" style="background-image: url('@Url.Content("~/images/profile-background.jpg")');"></div>
                <div class="profile-name clearfix">
                    <div class="profile-initials img-circle pull-left">AB</div>
                    <h3 class="pull-right">Aman Beg</h3>
                </div>
                <div class="profile-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur metus purus, volutpat non arcu sed, pulvinar convallis magna. Donec a elit nibh. Donec rhoncus rutrum luctus. Donec vel sapien tempor, ultricies arcu eu, rhoncus augue. Aenean lacinia faucibus commodo. Phasellus eleifend convallis pharetra.
                </div>
                <div class="profile-details">
                    <div>
                        <label>Courses</label>
                        <p class="form-control-static">10</p>
                        <input type="text" class="form-control hidden" value="10" />
                    </div>
                    <div>
                        <label>Articles</label>
                        <p class="form-control-static">10</p>
                        <input type="text" class="form-control hidden" value="10" />
                    </div>
                    <div class="row profile-buttons">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6">
                            <button class="btn btn-block btn-primary">Edit</button>
                        </div>

                        <div class="col-sm-6">
                            <button class="btn btn-block btn-danger hidden">Cancel</button>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-block btn-primary hidden">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <aside class="col-sm-2 friends">
            <div class="friend clearfix">
                <div class="clearfix">
                    <div class="friend-initials img-circle pull-left">HS</div>
                    <h4 class="pull-right">Homer Simpson</h4>
                </div>
                <div class="friend-details">
                    <div class="pull-right">10 courses taken</div>
                    <div class="pull-right">11 articles reviewed</div>
                </div>
            </div>
            <div class="friend clearfix">
                <div class="clearfix">
                    <div class="friend-initials img-circle pull-left">HS</div>
                    <h4 class="pull-right">Homer Simpson</h4>
                </div>
                <div class="friend-details">
                    <div class="pull-right">10 courses taken</div>
                    <div class="pull-right">11 articles reviewed</div>
                </div>
            </div>
        </aside>
    </div>
</section>
    <footer class="container-fluid">
        &copy; Copyright 2016
    </footer>
    <script src="~/scripts/jquery-1.9.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
</body>
</html>
